.create-fundraiser-button{
    margin-left: 25%;
    margin-bottom: 0.5rem;
}
.target{
    font-family: 'Poppins', sans-serif;
}

.event-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

}

.event p{
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
}

.create-event-button{
    cursor: pointer;
}
